<li ng-class="{completed: $ctrl.todo.completed, editing: $ctrl.editing}">
    <div class="view">
        <input
            class="toggle"
            type="checkbox"
            ng-checked="$ctrl.todo.completed"
            ng-click="$ctrl.toggle()">
        <label ng-dblclick="$ctrl.beginEdit()">
            {{$ctrl.newDescription || $ctrl.todo.description}}
        </label>
        <button class="destroy" ng-click="$ctrl.delete()"></button>
    </div>
    <form ng-submit="$ctrl.submitEdit()">
        <input
            class="edit"
            ng-model="$ctrl.newDescription"
            ng-blur="$ctrl.submitEdit()"
            ng-keyup="$ctrl.onKeyup($event)">
    </form>
</li>
