<main class="todoapp">
    <header>
        <h1>todos</h1>
        <new-todo on-submit="$ctrl.addTodo(description)"></new-todo>
    </header>
    <section class="main" ng-if="$ctrl.todos.length">
        <toggle-all on-toggle="$ctrl.markAll(checked)"></toggle-all>
        <ul class="todo-list">
            <todo ng-repeat="todo in $ctrl.todos | filter:$ctrl.todoIsVisible" todo="todo"></todo>
        </ul>
    </section>
    <footer class="footer" ng-if="$ctrl.todos.length">
        <span class="todo-count">
            <strong>{{$ctrl.uncompletedCount}}</strong>
            <ng-pluralize
                count="$ctrl.uncompletedCount"
                when="{one: 'item left', other: 'items left'}">
            </ng-pluralize>
        </span>
        <ul class="filters">
            <li>
                <a route-link="/">All</a>
            </li>
            <li>
                <a route-link="active">Active</a>
            </li>
            <li>
                <a route-link="completed">Completed</a>
            </li>
        </ul>
        <button
            class="clear-completed"
            ng-click="$ctrl.clearCompleted()"
            ng-if="$ctrl.completedCount">
            Clear completed
        </button>
    </footer>
</main>
<footer class="info">
    <p>Double-click to edit a todo</p>
</footer>
